
.mu-format-error {
	color: red;
	font-weight: bold;
}

.mu-content {
	margin: 0;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
	line-height: 1.5;
}

.mu-block:first-child {
	margin-top: 0 !important;
}

.mu-block:last-child {
	margin-bottom: 0 !important;
}

.mu-block {
	margin-top: 0;
	margin-bottom: 0.8em;
}

.mu-para {

}

.mu-header {
	margin-top: 1em;
	margin-bottom: 0.8em;
	font-weight: 600;
	line-height: 1.25;
	color: #24292e;
}

.mu-header1 {
	font-size: 2em;
	padding-bottom: 0.3em;
	border-bottom: 2px solid #eaecef;
	margin-bottom: 0.5em;
}

.mu-header2 {
	font-size: 1.5em;
	padding-bottom: 0.3em;
	border-bottom: 1px solid #eaecef;
	margin-bottom: 0.5em;
}

.mu-header3 {
	font-size: 1.25em;
}

.mu-header4 {

}

.mu-header5 {

}

.mu-header6 {

}

.mu-list {
	list-style-type: circle;
	padding-left: 2em;
}

.mu-list-item {

}

.mu-list .mu-list .mu-list-item:first-child {
	margin-top: .25em;
}

.mu-list-item:not(:first-child) {
	margin-top: .25em;
}

.mu-block-code {
	font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier, monospace;
    font-size: 95%;
    line-height: 1.45;
}

.mu-block-code-content {
	margin: 0;
	background-color: #f6f8fa;
    border-radius: 3px;
    padding: 16px;
}

.mu-block-code-content pre {
	margin: 0;
}

.mu-block-quote {
	border-left: .3em solid #dfe2e5;
	margin-left: 8px;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
	padding-left: 16px;
	color: #6a737d;
}

.mu-hr {
	background-color: #eaecef;
	height: 1px;
	border: none;
}

.mu-text {

}

.mu-variable {
	font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier, monospace;
	font-style: italic;
	background-color: rgba(27,31,35,.05);
	border-radius: 3px;
	font-size: 85%;
	margin: 0;
	padding: 0.2em 0.4em;
	display: inline-block;
}

.mu-code {
	font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier, monospace;
	background-color: rgba(27,31,35,.05);
	border-radius: 3px;
	font-size: 85%;
	margin: 0;
	padding: 0.2em 0.4em;
	display: inline-block;
}

.mu-math {
	font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier, monospace;
	font-style: italic;
}

.mu-block .mu-math {
	vertical-align: middle;
	display: inline-block;
	margin: 0;
}

.mu-math .mu-block {
	
}

.mu-underline {

}

.mu-bold {
	font-weight: 600;
}

.mu-italic {

}

.mu-strikethrough {

}

.mu-image {
	max-width: 100%;
}

.mu-link {
	color: #0366d6;
	text-decoration: none;
}

.mu-link:hover {
	color: #0366d6;
	text-decoration: underline;
}

.mu-reference {

}

